:root {
    --color-brand: #733729;
    --color-contrast: #D9BBA0;
}

body{
    background-image: url("img/pawns.jpg");
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link{
    color: var(--color-brand);
}
.btn-primary{
    color: var(--color-brand);
    background-color: var(--color-contrast);
    border-color: var(--color-brand);
}